body, app, math-edit {
    margin: 0;
    height: 100vh;
}

@font-face {
    font-family: "LMMath-bbfix";
    src: url("fonts/LMMath-bbfix.woff") format("woff");
}

@font-face {
    font-family: "Latin-Modern";
    src: url("fonts/lmroman10-regular.otf");
}
@font-face {
    font-family: "Latin-Modern";
    src: url("fonts/lmroman10-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("fonts/lmroman10-italic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("fonts/lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: .6em solid rgba(150, 150, 150, 0.8);
    border-left-color: rgba(150, 150, 150, 0.4);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

